*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

body {
  display: grid;
  grid-template-columns: 0.8fr auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: rgb(88,86,214);
  color: #fff;
  border-left: 1px solid rgb(155,160,170);
}

#content {
  display: grid;
  grid-template-rows: 85px auto 25px;
  padding: 8px;
  background-color: rgb(242,242,247);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.posts .postcard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  gap: 8px;
}

.posts .postcard * {
  margin: 0;
  padding: 0;
}

.posts .postcard h2 a {
  text-decoration: none;
}

.posts .postcard p.date {
  color: #888;
  font-size: 14px;
}

.posts .postcard p:last-child {
  margin-top: 8px;
}